{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% load static %}
{% block content %}

<main>
    <!-- Page banner area start here -->
    <section class="banner__inner-page bg-image pt-160 pb-160 bg-image"
        data-background="{% static 'assets/images/banner/banner-inner-page.jpg' %}">
        <div class="container">
            <h2 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">About Us</h2>
            <div class="breadcrumb-list wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                <a href="{% url 'home' %}">Home</a><span><i class="fa-regular fa-angles-right mx-2"></i>About
                    Us</span>
            </div>
        </div>
    </section>
    <!-- Page banner area end here -->

    <!-- About area start here -->
    <section class="about-area pt-120 pb-120">
        <div class="container">
            <div class="row g-2 align-items-center">
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="about__image">
                        <div class="dots about-dot__animation">
                            <img src="{% static 'assets/images/shape/about-dot.png' %}" alt="dots">
                        </div>
                        <div class="sm-image">
                            <img src="{% static 'assets/images/about/about-image2.png' %}" alt="image">
                        </div>
                        <div class="image">
                            <img src="{% static 'assets/images/about/about-image1.jpg' %}" alt="image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-header mb-20">
                        <h5 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <i class="fa-regular fa-angles-left pe-1"></i> ABOUT US <i
                                class="fa-regular fa-angles-right ps-1"></i>
                        </h5>
                        <h2 class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">Discover Charity
                            Organization Information</h2>
                        <p class="wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">It is a long
                            established fact that a reader will be distracted the readable content of a
                            page when looking at layout the
                            point of using lorem Ipsum <br>
                            less normal distribution of letters.</p>
                    </div>
                    <div class="about__content">
                        <div class="progress-area wow fadeInDown" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="progress__title mb-10">
                                <h5 class="fs-16">Charity</h5>
                                <span><span class="progress-count">80</span>%</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft" data-wow-duration=".8s" role="progressbar"
                                    style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="row g-4 mt-10 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="col-6">
                                <h6 class="fs-14">
                                    <svg class="me-1" width="18" height="18" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_20_5)">
                                            <path
                                                d="M17.4853 2.46073C17.2205 2.19547 16.7909 2.19502 16.5261 2.4596L8.38765 10.5765L5.45133 7.38742C5.1976 7.112 4.76863 7.09415 4.49276 7.34783C4.2171 7.60156 4.19945 8.03074 4.45317 8.3064L7.86776 12.0147C7.92961 12.082 8.00443 12.136 8.08771 12.1736C8.17099 12.2111 8.26101 12.2315 8.35235 12.2334C8.35731 12.2336 8.36209 12.2336 8.36683 12.2336C8.54636 12.2335 8.71855 12.1624 8.84577 12.0357L17.484 3.42018C17.7494 3.15563 17.7499 2.72598 17.4853 2.46073Z"
                                                fill="#F74F22" />
                                            <path
                                                d="M17.3216 8.32159C16.9469 8.32159 16.6432 8.62527 16.6432 9C16.6432 13.2146 13.2146 16.6432 9 16.6432C4.78561 16.6432 1.35679 13.2146 1.35679 9C1.35679 4.78561 4.78561 1.35679 9 1.35679C9.3747 1.35679 9.67841 1.05311 9.67841 0.67841C9.67841 0.30368 9.3747 0 9 0C4.03734 0 0 4.03734 0 9C0 13.9624 4.03734 18 9 18C13.9624 18 18 13.9624 18 9C18 8.6253 17.6963 8.32159 17.3216 8.32159Z"
                                                fill="#F74F22" />
                                        </g>
                                        <defs>
                                            <clipPath>
                                                <rect width="18" height="18" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    Immediate Assistance
                                </h6>
                            </div>
                            <div class="col-6">
                                <h6 class="fs-14">
                                    <svg class="me-1" width="18" height="18" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_20_5)">
                                            <path
                                                d="M17.4853 2.46073C17.2205 2.19547 16.7909 2.19502 16.5261 2.4596L8.38765 10.5765L5.45133 7.38742C5.1976 7.112 4.76863 7.09415 4.49276 7.34783C4.2171 7.60156 4.19945 8.03074 4.45317 8.3064L7.86776 12.0147C7.92961 12.082 8.00443 12.136 8.08771 12.1736C8.17099 12.2111 8.26101 12.2315 8.35235 12.2334C8.35731 12.2336 8.36209 12.2336 8.36683 12.2336C8.54636 12.2335 8.71855 12.1624 8.84577 12.0357L17.484 3.42018C17.7494 3.15563 17.7499 2.72598 17.4853 2.46073Z"
                                                fill="#F74F22" />
                                            <path
                                                d="M17.3216 8.32159C16.9469 8.32159 16.6432 8.62527 16.6432 9C16.6432 13.2146 13.2146 16.6432 9 16.6432C4.78561 16.6432 1.35679 13.2146 1.35679 9C1.35679 4.78561 4.78561 1.35679 9 1.35679C9.3747 1.35679 9.67841 1.05311 9.67841 0.67841C9.67841 0.30368 9.3747 0 9 0C4.03734 0 0 4.03734 0 9C0 13.9624 4.03734 18 9 18C13.9624 18 18 13.9624 18 9C18 8.6253 17.6963 8.32159 17.3216 8.32159Z"
                                                fill="#F74F22" />
                                        </g>
                                        <defs>
                                            <clipPath>
                                                <rect width="18" height="18" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    Quick Fundraise
                                </h6>
                            </div>
                            <div class="col-6">
                                <h6 class="fs-14">
                                    <svg class="me-1" width="18" height="18" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_20_5)">
                                            <path
                                                d="M17.4853 2.46073C17.2205 2.19547 16.7909 2.19502 16.5261 2.4596L8.38765 10.5765L5.45133 7.38742C5.1976 7.112 4.76863 7.09415 4.49276 7.34783C4.2171 7.60156 4.19945 8.03074 4.45317 8.3064L7.86776 12.0147C7.92961 12.082 8.00443 12.136 8.08771 12.1736C8.17099 12.2111 8.26101 12.2315 8.35235 12.2334C8.35731 12.2336 8.36209 12.2336 8.36683 12.2336C8.54636 12.2335 8.71855 12.1624 8.84577 12.0357L17.484 3.42018C17.7494 3.15563 17.7499 2.72598 17.4853 2.46073Z"
                                                fill="#F74F22" />
                                            <path
                                                d="M17.3216 8.32159C16.9469 8.32159 16.6432 8.62527 16.6432 9C16.6432 13.2146 13.2146 16.6432 9 16.6432C4.78561 16.6432 1.35679 13.2146 1.35679 9C1.35679 4.78561 4.78561 1.35679 9 1.35679C9.3747 1.35679 9.67841 1.05311 9.67841 0.67841C9.67841 0.30368 9.3747 0 9 0C4.03734 0 0 4.03734 0 9C0 13.9624 4.03734 18 9 18C13.9624 18 18 13.9624 18 9C18 8.6253 17.6963 8.32159 17.3216 8.32159Z"
                                                fill="#F74F22" />
                                        </g>
                                        <defs>
                                            <clipPath>
                                                <rect width="18" height="18" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    Long-Time Support
                                </h6>
                            </div>
                            <div class="col-6">
                                <h6 class="fs-14">
                                    <svg class="me-1" width="18" height="18" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_20_5)">
                                            <path
                                                d="M17.4853 2.46073C17.2205 2.19547 16.7909 2.19502 16.5261 2.4596L8.38765 10.5765L5.45133 7.38742C5.1976 7.112 4.76863 7.09415 4.49276 7.34783C4.2171 7.60156 4.19945 8.03074 4.45317 8.3064L7.86776 12.0147C7.92961 12.082 8.00443 12.136 8.08771 12.1736C8.17099 12.2111 8.26101 12.2315 8.35235 12.2334C8.35731 12.2336 8.36209 12.2336 8.36683 12.2336C8.54636 12.2335 8.71855 12.1624 8.84577 12.0357L17.484 3.42018C17.7494 3.15563 17.7499 2.72598 17.4853 2.46073Z"
                                                fill="#F74F22" />
                                            <path
                                                d="M17.3216 8.32159C16.9469 8.32159 16.6432 8.62527 16.6432 9C16.6432 13.2146 13.2146 16.6432 9 16.6432C4.78561 16.6432 1.35679 13.2146 1.35679 9C1.35679 4.78561 4.78561 1.35679 9 1.35679C9.3747 1.35679 9.67841 1.05311 9.67841 0.67841C9.67841 0.30368 9.3747 0 9 0C4.03734 0 0 4.03734 0 9C0 13.9624 4.03734 18 9 18C13.9624 18 18 13.9624 18 9C18 8.6253 17.6963 8.32159 17.3216 8.32159Z"
                                                fill="#F74F22" />
                                        </g>
                                        <defs>
                                            <clipPath>
                                                <rect width="18" height="18" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    Handle With Care
                                </h6>
                            </div>
                        </div>
                        <div class="d-flex align-content-center flex-wrap gap-4 mt-40 wow fadeInDown"
                            data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="btn-two">
                                <span class="btn-circle">
                                </span>
                                <a href="about.html" class="btn-inner">
                                    <span class="btn-text">
                                        EXPLORE MORE
                                    </span>
                                </a>
                            </div>
                            <div class="about-info">
                                <img src="{% static 'assets/images/about/about-info.png' %}" alt="image">
                                <div class="con">
                                    <h5 class="fs-16">Albert Flores</h5>
                                    <span class="sm-font">CEO, Donatim</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end here -->

    <!-- Service area start here -->
    <section class="service-area pt-100 pb-100 sub-bg">
        <div class="container">
            <div class="row g-4">
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="service__item">
                        <div class="service__icon"><img src="{% static 'assets/images/icon/service1.png' %}" alt="icon"></div>
                        <div class="service__content">
                            <h3 class="text-white">Kids Education</h3>
                            <p class="text-white">Every is to be welcomed in certain circumstances</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="service__item active">
                        <div class="service__icon"><img src="{% static 'assets/images/icon/service2.png' %}" alt="icon"></div>
                        <div class="service__content">
                            <h3 class="text-white">Healthy Food</h3>
                            <p class="text-white">Every is to be welcomed in certain circumstances</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="service__item">
                        <div class="service__icon"><img src="{% static 'assets/images/icon/service3.png' %}" alt="icon"></div>
                        <div class="service__content">
                            <h3 class="text-white">Medical Help</h3>
                            <p class="text-white">Every is to be welcomed in certain circumstances</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service area end here -->

    <!-- About area start here -->
    <section class="about-two-area pt-120 pb-120 overflow-hidden">
        <div class="about-two__wrp">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="about-two__image image pr-60">
                            <img src="{% static 'assets/images/about/about-two-image1.jpg' %}" alt="image">
                            <div class="line-shape sway_Y__animation">
                                <img src="{% static 'assets/images/shape/about-line.png' %}" alt="shape">
                            </div>
                            <div class="dot-shape sway__animation">
                                <img src="{% static 'assets/images/shape/about-dot3.png' %}" alt="shape">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-header mb-20">
                            <h5 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <i class="fa-regular fa-angles-left pe-1"></i> ABOUT US <i
                                    class="fa-regular fa-angles-right ps-1"></i>
                            </h5>
                            <h2 class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">Explore
                                Information About Charitable Organizations</h2>
                            <p class="wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">It is a long
                                established fact that a reader will be distracted the readable content
                                of a
                                page when looking at layout the
                                point of using lorem Ipsum <br>
                                less normal distribution of letters.</p>
                        </div>
                        <div class="about-two__content">
                            <div class="item mb-30 wow fadeInDown" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="icon">
                                    <img src="{% static 'assets/images/icon/about-icon1.png' %}" alt="icon">
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">Quick Fundraise</h6>
                                    <p>Embarrassing hidden in the middle of All the Lorem Ipsum generators on the
                                        Internet to repeat predefined chunks</p>
                                </div>
                            </div>
                            <div class="item wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <div class="icon">
                                    <img src="{% static 'assets/images/icon/about-icon2.png' %}" alt="icon">
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">Long -Time Support</h6>
                                    <p>Embarrassing hidden in the middle of All the Lorem Ipsum generators on the
                                        Internet to repeat predefined chunks</p>
                                </div>
                            </div>
                            <div class="d-flex align-content-center flex-wrap gap-4 mt-40 wow fadeInDown"
                                data-wow-delay="400ms" data-wow-duration="1500ms">
                                <div class="btn-two">
                                    <span class="btn-circle">
                                    </span>
                                    <a href="about.html" class="btn-inner">
                                        <span class="btn-text">
                                            ABOUT MORE
                                        </span>
                                    </a>
                                </div>
                                <div class="info-video">
                                    <a class="video-popup" href="https://www.youtube.com/watch?v=ElG5-nXD0B8"><i
                                            class="fa-solid fa-play"></i></a>
                                    <h6>Intro Video</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end here -->

    <!-- Team area start here -->
    <section class="team-area pt-120 pb-120 sub-bg">
        <div class="container">
            <div class="section-header mb-60 text-center">
                <h5 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <i class="fa-regular fa-angles-left pe-1"></i> Our Volunteers <i
                        class="fa-regular fa-angles-right ps-1"></i>
                </h5>
                <h2 class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">Volunteers Our Precious
                    Assets</h2>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="team__item image">
                        <img src="{% static 'assets/images/team/team-image1.jpg' %}" alt="image">
                        <div class="team__content">
                            <div class="social-icon mb-30">
                                <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
                                <a class="active" href="#0"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#0"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="#0"><i class="fa-brands fa-pinterest-p"></i></a>
                            </div>
                            <div class="content">
                                <h4><a href="team-single.html" class="primary-hover">Kristin Watson</a></h4>
                                <span>Volunteer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="team__item image">
                        <img src="{% static 'assets/images/team/team-image2.jpg' %}" alt="image">
                        <div class="team__content">
                            <div class="social-icon mb-30">
                                <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
                                <a class="active" href="#0"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#0"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="#0"><i class="fa-brands fa-pinterest-p"></i></a>
                            </div>
                            <div class="content">
                                <h4><a href="team-single.html" class="primary-hover">Ralph Edwards</a></h4>
                                <span>Volunteer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="team__item image">
                        <img src="{% static 'assets/images/team/team-image3.jpg' %}" alt="image">
                        <div class="team__content">
                            <div class="social-icon mb-30">
                                <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
                                <a class="active" href="#0"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#0"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="#0"><i class="fa-brands fa-pinterest-p"></i></a>
                            </div>
                            <div class="content">
                                <h4><a href="team-single.html" class="primary-hover">Leslie Alexander</a></h4>
                                <span>Volunteer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team area end here -->

    <!-- Testimonial area start here -->
    <section class="testimonial-area pt-120 pb-120">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-4 mb-50">
                <div class="section-header">
                    <h5 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <i class="fa-regular fa-angles-left pe-1"></i> Testimonials <i
                            class="fa-regular fa-angles-right ps-1"></i>
                    </h5>
                    <h2 class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">Why People Love Us
                    </h2>
                </div>
                <div class="arry-btn wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <button class="arry-prev testimonial__arry-prev"><i
                            class="fa-regular fa-chevron-left"></i></button>
                    <button class="arry-next testimonial__arry-next active ml-10"><i
                            class="fa-regular fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
        <div class="swiper testimonial__slider">
            <div class="swiper-wrapper pt-10 pb-20">
                <div class="swiper-slide">
                    <div class="testimonial__item shadow">
                        <svg class="shape" width="59" height="67" viewBox="0 0 59 67" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <mask style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="59"
                                height="67">
                                <rect width="59" height="67" fill="#F74F22" />
                            </mask>
                            <g mask="url(#mask0_87_43)">
                                <circle opacity="0.7" cx="59" cy="9" r="56" fill="#F74F22" />
                                <circle cx="59" cy="9" r="47.5" fill="#F74F22" stroke="white"
                                    stroke-dasharray="2 2" />
                            </g>
                        </svg>

                        <div class="top">
                            <div class="image">
                                <img src="{% static 'assets/images/testimonial/testimonial-image1.png' %}" alt="image">
                                <svg width="32" height="28" viewBox="0 0 32 28" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M29 28C30.625 28 32 26.625 32 25V10C32 4.4375 27.5 0 22 0H21.5C20.625 0 20 0.625 20 1.5V4.5C20 5.3125 20.625 6 21.5 6H22C24.1875 6 26 7.75 26 10V14H21C19.3125 14 18 15.3125 18 17V25C18 26.625 19.3125 28 21 28H29ZM11 28C12.625 28 14 26.625 14 25V10C14 4.4375 9.5 0 4 0H3.5C2.625 0 2 0.625 2 1.5V4.5C2 5.3125 2.625 6 3.5 6H4C6.1875 6 8 7.75 8 10V14H3C1.3125 14 0 15.3125 0 17V25C0 26.625 1.3125 28 3 28H11Z"
                                        fill="#F74F22" />
                                </svg>

                            </div>
                            <div class="con">
                                <div class="star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <h5>Esther Howard</h5>
                                <span>Dog Trainer</span>
                            </div>
                        </div>
                        <p class="mt-30">Dolor sit amet consectetur adipiscing elit. Integer nunc viverra the
                            laoreet
                            est, a pretium
                            metus aliquam eget. Maecenas
                            porta is nunc ut viverra. Aenean pulvinar maximus leo.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial__item shadow">
                        <svg class="shape" width="59" height="67" viewBox="0 0 59 67" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <mask style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="59"
                                height="67">
                                <rect width="59" height="67" fill="#F74F22" />
                            </mask>
                            <g mask="url(#mask0_87_43)">
                                <circle opacity="0.7" cx="59" cy="9" r="56" fill="#F74F22" />
                                <circle cx="59" cy="9" r="47.5" fill="#F74F22" stroke="white"
                                    stroke-dasharray="2 2" />
                            </g>
                        </svg>

                        <div class="top">
                            <div class="image">
                                <img src="{% static 'assets/images/testimonial/testimonial-image2.png' %}" alt="image">
                                <svg width="32" height="28" viewBox="0 0 32 28" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M29 28C30.625 28 32 26.625 32 25V10C32 4.4375 27.5 0 22 0H21.5C20.625 0 20 0.625 20 1.5V4.5C20 5.3125 20.625 6 21.5 6H22C24.1875 6 26 7.75 26 10V14H21C19.3125 14 18 15.3125 18 17V25C18 26.625 19.3125 28 21 28H29ZM11 28C12.625 28 14 26.625 14 25V10C14 4.4375 9.5 0 4 0H3.5C2.625 0 2 0.625 2 1.5V4.5C2 5.3125 2.625 6 3.5 6H4C6.1875 6 8 7.75 8 10V14H3C1.3125 14 0 15.3125 0 17V25C0 26.625 1.3125 28 3 28H11Z"
                                        fill="#F74F22" />
                                </svg>

                            </div>
                            <div class="con">
                                <div class="star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <h5>Annette Black</h5>
                                <span>Software Developer</span>
                            </div>
                        </div>
                        <p class="mt-30">Dolor sit amet consectetur adipiscing elit. Integer nunc viverra the
                            laoreet
                            est, a pretium
                            metus aliquam eget. Maecenas
                            porta is nunc ut viverra. Aenean pulvinar maximus leo.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial__item shadow">
                        <svg class="shape" width="59" height="67" viewBox="0 0 59 67" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <mask style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="59"
                                height="67">
                                <rect width="59" height="67" fill="#F74F22" />
                            </mask>
                            <g mask="url(#mask0_87_43)">
                                <circle opacity="0.7" cx="59" cy="9" r="56" fill="#F74F22" />
                                <circle cx="59" cy="9" r="47.5" fill="#F74F22" stroke="white"
                                    stroke-dasharray="2 2" />
                            </g>
                        </svg>

                        <div class="top">
                            <div class="image">
                                <img src="{% static 'assets/images/testimonial/testimonial-image3.png' %}" alt="image">
                                <svg width="32" height="28" viewBox="0 0 32 28" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M29 28C30.625 28 32 26.625 32 25V10C32 4.4375 27.5 0 22 0H21.5C20.625 0 20 0.625 20 1.5V4.5C20 5.3125 20.625 6 21.5 6H22C24.1875 6 26 7.75 26 10V14H21C19.3125 14 18 15.3125 18 17V25C18 26.625 19.3125 28 21 28H29ZM11 28C12.625 28 14 26.625 14 25V10C14 4.4375 9.5 0 4 0H3.5C2.625 0 2 0.625 2 1.5V4.5C2 5.3125 2.625 6 3.5 6H4C6.1875 6 8 7.75 8 10V14H3C1.3125 14 0 15.3125 0 17V25C0 26.625 1.3125 28 3 28H11Z"
                                        fill="#F74F22" />
                                </svg>

                            </div>
                            <div class="con">
                                <div class="star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <h5>Kristin Watson</h5>
                                <span>Team Leader</span>
                            </div>
                        </div>
                        <p class="mt-30">Dolor sit amet consectetur adipiscing elit. Integer nunc viverra the
                            laoreet
                            est, a pretium
                            metus aliquam eget. Maecenas
                            porta is nunc ut viverra. Aenean pulvinar maximus leo.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial__item shadow">
                        <svg class="shape" width="59" height="67" viewBox="0 0 59 67" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <mask style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="59"
                                height="67">
                                <rect width="59" height="67" fill="#F74F22" />
                            </mask>
                            <g mask="url(#mask0_87_43)">
                                <circle opacity="0.7" cx="59" cy="9" r="56" fill="#F74F22" />
                                <circle cx="59" cy="9" r="47.5" fill="#F74F22" stroke="white"
                                    stroke-dasharray="2 2" />
                            </g>
                        </svg>

                        <div class="top">
                            <div class="image">
                                <img src="{% static 'assets/images/testimonial/testimonial-image4.png' %}" alt="image">
                                <svg width="32" height="28" viewBox="0 0 32 28" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M29 28C30.625 28 32 26.625 32 25V10C32 4.4375 27.5 0 22 0H21.5C20.625 0 20 0.625 20 1.5V4.5C20 5.3125 20.625 6 21.5 6H22C24.1875 6 26 7.75 26 10V14H21C19.3125 14 18 15.3125 18 17V25C18 26.625 19.3125 28 21 28H29ZM11 28C12.625 28 14 26.625 14 25V10C14 4.4375 9.5 0 4 0H3.5C2.625 0 2 0.625 2 1.5V4.5C2 5.3125 2.625 6 3.5 6H4C6.1875 6 8 7.75 8 10V14H3C1.3125 14 0 15.3125 0 17V25C0 26.625 1.3125 28 3 28H11Z"
                                        fill="#F74F22" />
                                </svg>

                            </div>
                            <div class="con">
                                <div class="star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <h5>Ralph Edwards</h5>
                                <span>UI/UX Designer</span>
                            </div>
                        </div>
                        <p class="mt-30">Dolor sit amet consectetur adipiscing elit. Integer nunc viverra the
                            laoreet
                            est, a pretium
                            metus aliquam eget. Maecenas
                            porta is nunc ut viverra. Aenean pulvinar maximus leo.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial area end here -->
</main>

{% endblock %}